@charset "UTF-8";
/* ------------------------------------------------------------
   01. RESET リセット
   ------------------------------------------------------------ */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul,
ol,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

img {
  vertical-align: bottom;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  font-family: 'Varela Round', sans-serif;
}

.text-caps {
  color: black !important;
}

.text-caps:hover {
  color: #0bdad3 !important;
}

.container {
  padding-bottom: 0 !important;
}

@media only screen and (min-width: 750px) {
  .items {
    height: auto !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .item {
    position: unset !important;
    top: unset !important;
    left: unset !important;
    float: unset !important;
  }
}

@media only screen and (max-width: 749px) {
  .page > .content {
    border-radius: 0;
  }
  .hero .page-title {
    height: auto !important;
  }
  .opacity-40 {
    line-height: 40px !important;
  }
}

.site-main {
  top: 100px;
}

.list {
  display: none;
}

.title--hidden {
  display: none;
}

#header {
  background-color: #0bdad3;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #0bdad3), to(#0abab5));
  background-image: linear-gradient(-90deg, #0bdad3 70%, #0abab5);
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.site-header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.site-header__wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: NULL;
      flex-wrap: NULL;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: NULL;
      -ms-flex-align: NULL;
          align-items: NULL;
}

.site-header__logo {
  font-family: Hiragino Kaku Gothic Std;
  font-size: 30px;
  font-weight: bold;
}

.site-header__logo a {
  color: #ffffff;
}

.site-header__logo span {
  font-size: 15px;
  font-weight: normal;
  margin-left: 5px;
  vertical-align: 5px;
}

@media only screen and (min-width: 750px) {
  .site-header__wrapper {
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    position: relative;
  }
  .site-header__sub-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: NULL;
        flex-wrap: NULL;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: NULL;
        flex-wrap: NULL;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header__nav-item {
    margin-right: 20px;
  }
  .site-header__nav-item a {
    font-family: 'Varela Round',sans-serif;
    font-size: 15px;
    padding: 20px 0;
    color: #ffffff;
  }
  .site-header__nav-item:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: NULL;
        flex-wrap: NULL;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 166px;
    height: 40px;
    margin-right: 0;
  }
  .site-header__nav-item:nth-child(5) a {
    color: white;
  }
  .site-header__nav-item:hover .list {
    display: block;
    position: absolute;
    top: 55px;
    color: black;
    border: 2px solid #ffd300;
    background-color: white;
    height: 90px;
    width: 300px;
    padding: 10px 0 0 0;
    text-align: justify;
    opacity: .9;
    padding: 20px 10px;
  }
  .site-header__nav-btn {
    display: none;
  }
  .list-items {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 12px;
    margin: 10px 0;
  }
  .list-items::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da ";
    white-space: pre;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 749px) {
  .site-main {
    top: 13.351vw;
  }
  #nav-toggle {
    top: 3.338vw;
    right: 3.338vw;
    height: 7.272vw;
    cursor: pointer;
  }
  #nav-toggle > div {
    position: relative;
    width: 4.806vw;
  }
  #nav-toggle span {
    width: 100%;
    height: 0.668vw;
    left: 0;
    display: block;
    background: #ffffff;
    position: absolute;
    -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out, top .5s ease;
    transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 1.602vw;
  }
  #nav-toggle span:nth-child(2) {
    top: 3.471vw;
  }
  #nav-toggle span:nth-child(3) {
    top: 5.340vw;
  }
  #nav-toggle:hover span:nth-child(1) {
    top: 2.136vw;
  }
  #nav-toggle:hover span:nth-child(3) {
    top: 4.673vw;
  }
  .open #nav-toggle span {
    background: #ffffff;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 2.003vw;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 2.003vw;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 2.003vw;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #nav-toggle {
    z-index: 1000;
  }
  #container {
    z-index: 900;
  }
  #gloval-nav {
    background: #fff;
    height: 97.330vw;
    position: fixed;
    top: 13.351vw;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    opacity: 0;
  }
  #gloval-nav a {
    text-decoration: none;
    padding: 1.335vw 0;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
  }
  #gloval-nav ul {
    list-style: none;
  }
  #gloval-nav ul li {
    opacity: 0;
    -webkit-transform: translateX(26.702vw);
            transform: translateX(26.702vw);
    -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: transform .6s ease, opacity .2s ease;
    transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
  }
  #gloval-nav ul li:nth-child(1) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
    border-top: solid #F5F5F5 1px;
    border-bottom: solid #F5F5F5 1px;
  }
  #gloval-nav ul li:nth-child(2) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
    border-bottom: solid #F5F5F5 1px;
  }
  #gloval-nav ul li:nth-child(3) {
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
    border-bottom: solid #F5F5F5 1px;
  }
  .open {
    overflow: hidden;
  }
  .open #gloval-nav {
    visibility: visible;
    opacity: 1;
  }
  .open #gloval-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
  }
  .site-header {
    height: 13.351vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .site-header__sub-nav {
    width: 100%;
  }
  .site-header__logo {
    font-size: 4.005vw;
  }
  .site-header__logo span {
    font-size: 2.003vw;
    font-weight: normal;
    margin-left: 0.668vw;
    vertical-align: 0.668vw;
  }
  .site-header__wrapper {
    height: 13.351vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 4.005vw;
  }
  .site-header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: NULL;
        flex-wrap: NULL;
  }
  .site-header__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: NULL;
        flex-wrap: NULL;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .site-header__nav-item a {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 4.005vw;
    margin-left: 8.011vw;
  }
  .site-header__nav-item:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: NULL;
        flex-wrap: NULL;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 32.043vw;
  }
  .site-header__nav-item:nth-child(5) a {
    color: white;
    width: 84.112vw;
    height: 16.021vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
  }
  .site-header__nav .list {
    display: block;
    width: 100%;
    padding-left: 100px;
  }
  .site-header__nav .list-items {
    border: none !important;
    font-family: Hiragino Kaku Gothic Std;
    margin: 15px 0;
    font-size: 3.005vw;
  }
  .site-header__nav .list-items::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da ";
    white-space: pre;
    margin-right: 5px;
  }
  .site-header__nav-btn {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .footer {
    position: fixed;
    width: 100%;
    padding-top: 10rem;
    font-size: 14px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__item {
    line-height: 25px;
  }
  .footer__copyright {
    text-align: center;
    padding: 30px;
  }
  .contact {
    font-size: 14px;
  }
  .contact__figure {
    margin: 20px 0;
  }
  .contact__list {
    margin: 20px 0;
  }
  .contact__item {
    line-height: 25px;
  }
  .container {
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .footer .brand {
    font-size: 3.604vw;
  }
  .text-caps {
    font-size: 1.823vw;
    padding: 0.521vw;
  }
  .footer {
    width: 100%;
    padding-top: 3.906vw;
    font-size: 1.823vw;
  }
  .footer__title {
    margin-bottom: 2.604vw;
    font-size: 2.823vw;
  }
  .footer__logo {
    margin-bottom: 3.906vw;
  }
  .footer__item {
    line-height: 5.255vw;
  }
  .footer__copyright {
    text-align: center;
    padding: 2.604vw;
  }
  .contact {
    font-size: 1.823vw;
    margin-top: 2.604vw;
  }
  .contact__figure {
    margin: 2.604vw 0;
  }
  .contact__title {
    font-size: 2.823vw;
  }
  .contact__list {
    margin: 2.604vw 0;
  }
  .contact__item {
    line-height: 3.255vw;
  }
  .container {
    padding-bottom: 10rem;
  }
}

/* clearfix */
.cf {
  *zoom: 1;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}
/*# sourceMappingURL=index.css.map */